

<div class="container form-inline">
<h1>Stupid Coaching</h1>
<form action="/answer" method="get" data-turbo="false" class="form-inline col-md-6 mb-3">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Ask your coach anything.</label>
  <input type="text" name="caio" class="form-control m-1">
  <button type="submit" class="btn btn-primary col-md-12">Ask</button>
</form>
</div>

